.container {
	padding: 40px 55px;
	overflow: auto;
	height: calc(100vh - 118px);

	@media(max-width: 425px) {
		padding: 40px 20px;
	}
}

.title {
	font-size: var(--giant-font-size);
	font-weight: bold;
	margin-bottom: 42px;
}
